<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png" />

    <title>PokeMMOn</title>
    <link rel='stylesheet' href='css/normalize.css'>
    <link rel='stylesheet' href='css/style.css'>
    <link rel='stylesheet' href='css/canvas.css'>
  </head>
  <body>
    <canvas width="512" height="288" id="canvas"></canvas>
    <h1 align="center" id="orientation" style="display: none">Please change your orientation to landscape</h1>
    <script src="js/jquery.js"></script>
    <script src="js/canvas.js"></script>
  </body>
</html>
